<?xml version="1.0"?>
<!-- Called by mtbc1_description.launch.py -->
<robot name="mtbc1" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find mtbc1_description)/urdf/common_properties.urdf.xacro" />
  <xacro:include filename="$(find mtbc1_description)/urdf/create_base.urdf.xacro" />
  
  <!-- Test sensors_shelf.urdf.xacro -->
  <!-- <xacro:include filename="$(find mtbc1_description)/urdf/sensors/sensors_shelf.urdf.xacro" /> -->
  <xacro:include filename="$(find mtbc1_description)/urdf/mtbc1_sensors.urdf.xacro"/>
  
  <xacro:include filename="$(find mtbc1_description)/urdf/stacks/circlesc1.urdf.xacro"/>

  <xacro:create_base wheel_separation="0.26" base_diameter="0.3302">
    <mesh filename="package://mtbc1_description/meshes/create_1.dae" />
  </xacro:create_base>

  <!-- TB circles xacros -->
  <!-- <create/> -->
  <xacro:stack_circles parent_link="base_link"/>
  
</robot>