<?xml version="1.0"?>
<!-- Called by mtbc1_description.launch.py -->
<robot name="mtbc1" xmlns:xacro="http://ros.org/wiki/xacro">


<xacro:include filename="(find mtbc1_description)/urdf/common_properties.urdf.xacro" />
<xacro:include filename="(find create1_description)/urdf/create.urdf.xacro" />
<!-- 
<xacro:include filename="(find mtbc1_description)/urdf/mtbc1_sensors.urdf.xacro" />
xacro:include filename="(find mtbc1_description)/urdf/meshes/circlesc1.urdf.xacro" />
-->

</robot>