<!-- From Linorobot2, mounted above Camera Bracket and called by mtbc1_sensors.urdf.xacro -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="imu_zoff" value="0.141" />

  <xacro:macro name="imu">
    <link name="imu_link"/>
    
    <joint name="imu_to_base_link" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <!-- <origin xyz="0 0 0" rpy="0 0 0"/> -->
      <origin xyz="0 0 ${imu_zoff}" rpy="0 0 0"/>
    </joint>
 </xacro:macro>
</robot>   