<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:include filename="(find mtbc1_description)/urdf/sensor_shelf.urdf.xacro"/>
<!-- <xacro:include filename="(find mtbc1_description)/urdf/generic_laser.urdf.xacro"/> -->
<xacro:include filename="(find mtbc1_description)/urdf/camera_bracket.urdf.xacro"/>
<xacro:include filename="(find mtbc1_description)/urdf/imu.urdf.xacro"/>
</robot>